<!DOCTYPE html>
<html>
    <head>
        <title>Totales | Pauta Oficial 2016</title>
        <link rel="stylesheet" href="static/styles.css" type="text/css" />
    </head>
    <body>
		<div class="header">
	        <div class="banner">
	            <h1>Pauta Oficial 2016</h1>
	        </div>
			<div class="totals">
				<h3>Total: ${{ totals.total|round(2) }}</h3>
			</div>
        </div>
        <div style="width:100%; height:150px;">&nbsp;</div>
        <div class="content">            
            <h4>Rubros</h4>
            <ul>
            {% for medium, total in totals.media.items()|sort %}
                <li>{{ medium }} - ${{ total|round(2) }}</a></li>
            {% endfor %}
            </ul>

            <h4>Campañas</h4>
            <ul>
            {% for campaign, total in totals.campaigns.items()|sort %}
                <li>{{ campaign }} - ${{ total|round(2) }}</a></li>
            {% endfor %}
            </ul>

            <h4>Anunciantes</h4>
            <ul>
            {% for advertiser, total in totals.advertisers.items()|sort %}
                <li>{{ advertiser }} - ${{ total|round(2) }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </body>
</html>